.container{
    max-width: 670px;
    background-color: beige;
    padding-bottom: 10px;
}
.controls{
    display: flex;
    justify-content: space-between;
}
.button-box{
    display: flex;
    justify-content: space-around;
}
.score-box{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-right: 30px;
} 
.my-btn{
    padding: 10px;
    margin: 10px 20px;
} 
body{
    background-color: darkgrey;
}
span{
    padding-left: 20px;
    font-weight: 800;
}
h1{
    text-align: center;
}
.result{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:red;
}
#red{
    color:red;
}